// colors
$bodyBackgroundColor:#fafafa;
$border: #c7c7c7;
$googlePlus:  #d34836;
$sidebarBorder: hsla(0,0%,100%,.06);
$sidebarFont: hsla(0,0%,100%,.65);







body{
    background: $bodyBackgroundColor;
    height: 100vh;
}

.container-fluid{
    height: 100%;
    padding: 0;
}
.app{
    height: 100%;
}

.error-message{
    width: 100%;
    margin: 0 0 .2em 0;
    background: #db524b;
    color: #fff;
    padding: .5em 2em;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.signUp, .login{
   
    height: 100%;
    width: 100%;
    padding-top: 3%;
    
    .row{
        height: 100%;
        width: 75%;
      
        .sign-up-form,.login-form{
            height: 100%;
            width: 80%;
            padding: 0 4rem 2em 4rem;
           
         
            .form-box{
                height: 90%;
                border: 1px solid $border;
                background: #fff;
                padding: 7%;
                text-align: center;
                h1{
                    font-family: 'Lobster', cursive;
                    font-weight: 700;
                }
                form{
                    text-align: center;
                    height: auto;
                    p{
                        font-family: Tahoma;
                        font-weight: 500;
                        color: #a4a4a4;
                    }
                    a{
                        background: $googlePlus;
                        color: #fff;
                        padding: .375rem .75rem;
                        border-radius: .25rem;
                        text-decoration: none;
                        font-size: 1em;
                        i{
                            font-size: 1em;
                            margin-right: .75rem;
                        }
                    }
                    .hr{
                        margin: 1rem 0;
                        .line{
                            height: 1px;
                            min-width: 50px;
                            border-top: 1px solid $border
                        }
                        .letter{
                            min-width: 30px;
                            font-size: .8em;
                            font-family: Tahoma;
                            font-weight: 500;
                            color: $border;
                        }
                    }
                    
                    input{
                        margin-bottom: 3%;
                    }
                }
            }
            .go-to-login, .go-to-sign-up{
                height: 10%;
                border: 1px solid $border;
                background: #fff;
                margin-top: .45rem;
                padding: 3%;
                p{
                    text-align: center;
                }
                .login-link, .sign-up-link{
                    text-decoration: none;
                }
            }
        }
        .ipad{
            height: 90%;
        }
    }
            
}

.ipad-instruction{
    width: 275px;
    height: 525px;
    border-top: 60px solid #000;
    border-bottom: 60px solid #000;
    border-left: 13px solid #000;
    border-right: 13px solid #000;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
    top: 10%;
    font-family: 'Lobster', sans-serif;
    font-size: 1em;
    padding: .375rem .25rem;
    line-height: 3em;
    &::after{
        position: absolute;
        content: "";
        left: 40%;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border:2px outset #ccc;
        bottom: -50px
    }   
    &::before{
        position: absolute;
        content: "";
        left: 38%;
        width: 60px;
        height: 4px;
        background: #ccc;
        border-radius: 10px;
        top: -30px;
       }
}


.profile{
    width: 100%;
    min-height: 100%;
    
    .sidebar-header{
        position: absolute;
        z-index: 1;    
        height: 60px;
        width: 200px;
        padding-left: 1.2em;
        background: #24262d;
        color: $sidebarFont;
        overflow-y: hidden;
        left: 0;
        transition: all .8s;
        border-bottom: 1px solid $sidebarBorder;
        .btn-sidebar{
            background: #24262d;
            z-index: 500;
            min-height: 100%;
            width: 40px;
            padding: 1.2em .5em .0em .5em;
            a{
                height: 16%;
                width: 100%;
                border-top: 2px solid #ccc;
                display: block;
            }
            &:hover{
                cursor: pointer;
                a {
                    border-top: 2px solid #ee424d;
                }
            }
        }
        

        .brand{
            font-weight: 700;
            font-family: 'Lobster';
            height: 100%;
            padding: 0.52em 0;
            letter-spacing: .1em;
            color: #f6b921;
            user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none; 
            
        }
    }
    .sidebar-wrapper{
        position: absolute;
        left: 0;
        top: 60px;
        z-index: 1;
        width: 200px;
        height: calc(100% - 60px);
        background: #24262d; //#191c26;
        color: $sidebarFont;
        overflow-y: hidden;
        font-family: 'Open Sans', sans-serif;
        transition: all .8s;

        .userInfo{
            height: 8%;
            width: 100%;
            border-bottom: 2px solid $sidebarBorder;
            padding: .5em 1.4em;
            p{
                padding-left: 1.4em;
            }
        }

        .side-nav{
            padding: 2em 0 0 0;
            font-size: .9em;
            li{
                list-style: none;
                //margin-top: 15px;
                padding: .8em 1.5em;
                &:hover{
                    a{
                        color: #f6a821;
                    }
                    // transform: scale(1.2, 1.2);
                    cursor: pointer;
                }
                
                a{
                    text-decoration: none;
                    color: $sidebarFont; 
                    user-select: none;
                    outline: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                }
                i{
                    padding-right: 1em;
                    user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                }
            }
            li.active{
                background-color: rgba(0,0,0,.15);
                box-shadow: inset 4px 0 0 rgba(238,66,77,.55); 
                a{
                    color: #ee424d;
                }
            }
            
        }
        
    }
    .page-content{
        width: 100%;
        min-height: 100%;
        position: absolute;
        padding-left:200px;
        background :#2f323b;//#212533
        transition: padding-left .8s

    }
}
.profile.hide-sidebar{
    .sidebar-header{
        left: -160px;
        border: none;
    }
    .sidebar-wrapper{
        left: -200px;
    }
    .page-content{
        padding-left: 40px;
    }
}

.dashboard{
    min-height: 100%;
    padding: 2em;
    .title{
        color: #f6b921;
        border-bottom: 1px solid rgba(89, 178, 0, 0.6);
        padding-bottom: .2em;
    }
    .polls{
        height: 80%;
        padding: 0 4em;
        h1{
            margin: 5em auto;
            color: #ee424d;
            text-align: center;
        }
        .each-poll{
            height: 13%;
            margin-top: 1em;
            background: #23252c;
            box-shadow: inset 3px 0 rgba(89, 178, 0, 0.6);
            border-radius: .7em 0 0 .7em;
            padding: .5em 2em;
            .poll-name{
                height: 100%;
                color: rgba(255, 255, 255, 0.8);
                padding: .1em 0;
            }
            .btns{
                height: 100%;
                width: 30%;
                padding: .5em 0;
                .present{
                    width: 35%;
                    margin-right: 2em;
                    background-color: rgba(246, 168, 33, .85);
                    color: #222;
                    border: 1px solid transparent;
                    font-weight: 700;
                    
                    padding: .1em .5em;
                    border-radius: .3em;
                    outline: none;
                    user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none; 
                    &:hover{
                        background-color: rgba(246, 168, 33, .55);
                        cursor: pointer;
                    }
                }
                .delete{
                    width: 35%;
                    background-color: rgba(238,66,77,.55); 
                    color: #fff;
                    border: 1px solid transparent;
                    font-weight: 700;
                    
                    padding: .1em .5em;
                    border-radius: .3em;
                    outline: none;
                    user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                    &:hover{
                        background: rgba(238,66,77,.85);
                        cursor: pointer;
                    }   
                }
                
                
            }
        }
    }
}

.googleChart{
    height: 100%;
    width: 100%;
    padding-top: 5em;
}
.vote{
    height: 100%;
    width: 100%;
    background: #2f323b;
    padding: 5em 3em;
    .pollName{
        text-align: center;
        color: #fff;
    }
    .each-option{
        padding-top: 3em;
        height: 80%;
        button{
            width: 48%;
            height: 15%;
            background: rgba(246, 185, 33, .85);//rgba(246, 168, 33, 0.55);
            color: #222;
            font-weight: 700;
            font-size: 1.25em;
            border: none;
            border-radius: .5em;
            margin-top: 1.5em;
            transition: background-color border color .6s;
        
            transition: transform .3s;
            &:hover{
                cursor: pointer;
                background-color: rgba(238,66,77,.85);//rgba(246, 168, 33, .8);
                border: 1px solid rgba(34, 34, 34, .8);
                transform: scale(1.2, 1.2);
                color: #e2e2e2
            }
        }
       
    }
}
.display-google-chart{
    height: 100%;
    width: 100%;
    background: #2f323b;
}

.poll-launched{
    width: 60%;
    height: 400px;
    margin: 100px auto;
    background: #23252c;
    padding: 10px;

    h1{
        margin: 80px auto;
        color: #ee424d;
        text-align: center;
    }
    p{
        color: #ee424d;
        text-align: center;
        a{
            text-decoration: none;
            color: #f6a821;
        }
    }
}
.create-new-poll{
    min-height: 100%;
    width: 100%;
    background: #2f323b;
    form{
        width: 60%;
        margin-top: 5em;
        background: #23252c;
        padding: 1em 2em 1.5em 2em;
        label{
            color: #fff;
            font-weight: 500;
            font-size: 1.2em;
            margin: .9em 0;
        }
       
        .options{
            height: 10%;
            width: 100%;
           
            
            span{
                color: #8e8e8e;
                height: 100%;
                margin-left: 1em;
                font-size: 1.3em;
                font-weight: 1000;
                display: none;
                transition: all .3s;
                user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;  
                
                &:hover{
                    color: #f6a821;
                    cursor: pointer;
                }
            }
        }
        input[type='text']{
            color: #fff;
            background: transparent;
            outline: none;
            border: none;
            background: hsla(0,0%,100%,.08);
            border-radius: .5em;
            padding: .5em .75em;
            margin-bottom: 1em;
            border-radius: .5em;
            box-shadow: none;
            transition: all .3s;
           &:focus{
               background: hsla(0,0%,100%,.2);
            }
            &::placeholder{
                font-size: .9em;
            }

        }
        
    
        input[type='submit']{
            display: table;
            margin-top: 1.5em;

        }
        a{
            color:#f6a821;
            transition: all .3s;
            font-size: .9em;
            font-weight: 400;
            text-decoration: none;
            margin-bottom: 1em;
            outline: none;
            &:hover{
                color: #fff
            }
            i{
                font-size: .75em;
            }
        }
        
    }
    form.add-option{
        .options{
            span{
                display:inline-block;
            }
        }
    }
}

.setting{
    height: 70%;
    width: 60%;
    background: #fff;
    border: 1px solid $border;
    margin: 5em auto;
    padding: 3em 2em;
    input[type='password']{
        margin-top: 2em;
    }
    input[type='submit']{
        margin-top: 3em;
    }
}